html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    margin: 0 auto;
    display: grid;
    grid-gap: 3px;
    width: 50%;
    height: 80%;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    font: 28pt 'Open Sans';
}
#container > div{
    background-color: #33d9b2;
    text-align: center;
    display: table;
    user-select: none;

}
#container > div:hover{
    background-color: #218c74;
    cursor: pointer;
}


#container > div:nth-child(16):hover{
    background-color: #33d9b2;
    cursor: TEXT;
}

